<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:layout name="Default" />
<f:section name="content">

    <f:flashMessages />
    <f:if condition="{vacancies}">
        <f:then>
            <f:for each="{vacancies}" as="vacancy">
                <div class="card card-body">
                    <h4>{vacancy.title}</h4>
                    <p>{vacancy.interamtUid}</p>
                    <f:if condition="{settings.detailPageLink}">
                        <f:then><f:link.action action="show" pageUid="{settings.detailPage}" arguments="{vacancy:vacancy.interamtUid}">Details</f:link.action></f:then>
                        <f:else>
                            <a href="https://interamt.de/koop/app/stelle?id={vacancy.interamtUid}" target="_blank">Details</a>
                        </f:else>
                    </f:if>
                </div>
            </f:for>
        </f:then>
        <f:else>
            <div class="alert alert-info">Es wurden keine Stellenausschreibungen gefunden!</div>
        </f:else>
    </f:if>

</f:section>
</html>
