<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<table class="tx-interamt-connect">
	<tr>
		<td><f:translate key="tx_interamtconnect_domain_model_vacancy.interamt_uid" /></td>
		<td>{vacancy.interamtUid}</td>
	</tr>
	<tr>
		<td><f:translate key="tx_interamtconnect_domain_model_vacancy.authority" /></td>
		<td>{vacancy.authority}</td>
	</tr>
	<tr>
		<td><f:translate key="tx_interamtconnect_domain_model_vacancy.identifier" /></td>
		<td>{vacancy.identifier}</td>
	</tr>
	<tr>
		<td><f:translate key="tx_interamtconnect_domain_model_vacancy.title" /></td>
		<td>{vacancy.title}</td>
	</tr>
	<tr>
		<td><f:translate key="tx_interamtconnect_domain_model_vacancy.location_street" /></td>
		<td>{vacancy.locationStreet}</td>
	</tr>
	<tr>
		<td><f:translate key="tx_interamtconnect_domain_model_vacancy.location_zip" /></td>
		<td>{vacancy.locationZip}</td>
	</tr>
	<tr>
		<td><f:translate key="tx_interamtconnect_domain_model_vacancy.location_city" /></td>
		<td>{vacancy.locationCity}</td>
	</tr>
	<tr>
		<td><f:translate key="tx_interamtconnect_domain_model_vacancy.description" /></td>
		<td>{vacancy.description}</td>
	</tr>
	<tr>
		<td><f:translate key="tx_interamtconnect_domain_model_vacancy.latitude" /></td>
		<td>{vacancy.latitude}</td>
	</tr>
	<tr>
		<td><f:translate key="tx_interamtconnect_domain_model_vacancy.longitude" /></td>
		<td>{vacancy.longitude}</td>
	</tr>
	<tr>
		<td><f:translate key="tx_interamtconnect_domain_model_vacancy.number_of_vacancies" /></td>
		<td>{vacancy.numberOfVacancies}</td>
	</tr>
	<tr>
		<td><f:translate key="tx_interamtconnect_domain_model_vacancy.contracts" /></td>
		<td>{vacancy.contracts}</td>
	</tr>
	<tr>
		<td><f:translate key="tx_interamtconnect_domain_model_vacancy.careers" /></td>
		<td>{vacancy.careers}</td>
	</tr>
	<tr>
		<td><f:translate key="tx_interamtconnect_domain_model_vacancy.salary_group_from" /></td>
		<td>{vacancy.salaryGroupFrom}</td>
	</tr>
	<tr>
		<td><f:translate key="tx_interamtconnect_domain_model_vacancy.salary_group_to" /></td>
		<td>{vacancy.salaryGroupTo}</td>
	</tr>
	<tr>
		<td><f:translate key="tx_interamtconnect_domain_model_vacancy.tariff_level_from" /></td>
		<td>{vacancy.tariffLevelFrom}</td>
	</tr>
	<tr>
		<td><f:translate key="tx_interamtconnect_domain_model_vacancy.tariff_level_to" /></td>
		<td>{vacancy.tariffLevelTo}</td>
	</tr>
	<tr>
		<td><f:translate key="tx_interamtconnect_domain_model_vacancy.qualification" /></td>
		<td>{vacancy.qualification}</td>
	</tr>
	<tr>
		<td><f:translate key="tx_interamtconnect_domain_model_vacancy.training" /></td>
		<td>{vacancy.training}</td>
	</tr>
	<tr>
		<td><f:translate key="tx_interamtconnect_domain_model_vacancy.training_duration" /></td>
		<td>{vacancy.trainingDuration}</td>
	</tr>
	<tr>
		<td><f:translate key="tx_interamtconnect_domain_model_vacancy.responsibilities" /></td>
		<td>{vacancy.responsibilities}</td>
	</tr>
	<tr>
		<td><f:translate key="tx_interamtconnect_domain_model_vacancy.subject_area" /></td>
		<td>{vacancy.subjectArea}</td>
	</tr>
	<tr>
		<td><f:translate key="tx_interamtconnect_domain_model_vacancy.work_time" /></td>
		<td>{vacancy.workTime}</td>
	</tr>
	<tr>
		<td><f:translate key="tx_interamtconnect_domain_model_vacancy.weekly_working_time_civil_servant" /></td>
		<td>{vacancy.weeklyWorkingTimeCivilServant}</td>
	</tr>
	<tr>
		<td><f:translate key="tx_interamtconnect_domain_model_vacancy.weekly_working_time_employee" /></td>
		<td>{vacancy.weeklyWorkingTimeEmployee}</td>
	</tr>
	<tr>
		<td><f:translate key="tx_interamtconnect_domain_model_vacancy.duration_of_employment" /></td>
		<td>{vacancy.durationOfEmployment}</td>
	</tr>
	<tr>
		<td><f:translate key="tx_interamtconnect_domain_model_vacancy.limited_to" /></td>
		<td>{vacancy.limitedTo}</td>
	</tr>
	<tr>
		<td><f:translate key="tx_interamtconnect_domain_model_vacancy.application_deadline" /></td>
		<td>{vacancy.applicationDeadline -> f:format.date()}</td>
	</tr>
	<tr>
		<td><f:translate key="tx_interamtconnect_domain_model_vacancy.occupation_to" /></td>
		<td>{vacancy.occupationTo}</td>
	</tr>
	<tr>
		<td><f:translate key="tx_interamtconnect_domain_model_vacancy.last_changes" /></td>
		<td>{vacancy.lastChanges -> f:format.date()}</td>
	</tr>
	<tr>
		<td><f:translate key="tx_interamtconnect_domain_model_vacancy.tender_date" /></td>
		<td>{vacancy.tenderDate -> f:format.date()}</td>
	</tr>
	<tr>
		<td><f:translate key="tx_interamtconnect_domain_model_vacancy.application_process" /></td>
		<td>{vacancy.applicationProcess}</td>
	</tr>
	<tr>
		<td><f:translate key="tx_interamtconnect_domain_model_vacancy.application_url" /></td>
		<td>{vacancy.applicationUrl}</td>
	</tr>
	<tr>
		<td><f:translate key="tx_interamtconnect_domain_model_vacancy.required_studies" /></td>
		<td>{vacancy.requiredStudies}</td>
	</tr>
	<tr>
		<td><f:translate key="tx_interamtconnect_domain_model_vacancy.contact_lastname" /></td>
		<td>{vacancy.contactLastname}</td>
	</tr>
	<tr>
		<td><f:translate key="tx_interamtconnect_domain_model_vacancy.contact_firstname" /></td>
		<td>{vacancy.contactFirstname}</td>
	</tr>
	<tr>
		<td><f:translate key="tx_interamtconnect_domain_model_vacancy.contact_salutaion" /></td>
		<td>{vacancy.contactSalutaion}</td>
	</tr>
	<tr>
		<td><f:translate key="tx_interamtconnect_domain_model_vacancy.contact_street" /></td>
		<td>{vacancy.contactStreet}</td>
	</tr>
	<tr>
		<td><f:translate key="tx_interamtconnect_domain_model_vacancy.contact_zip" /></td>
		<td>{vacancy.contactZip}</td>
	</tr>
	<tr>
		<td><f:translate key="tx_interamtconnect_domain_model_vacancy.contact_city" /></td>
		<td>{vacancy.contactCity}</td>
	</tr>
	<tr>
		<td><f:translate key="tx_interamtconnect_domain_model_vacancy.contact_authority" /></td>
		<td>{vacancy.contactAuthority}</td>
	</tr>
	<tr>
		<td><f:translate key="tx_interamtconnect_domain_model_vacancy.contact_phone" /></td>
		<td>{vacancy.contactPhone}</td>
	</tr>
	<tr>
		<td><f:translate key="tx_interamtconnect_domain_model_vacancy.contact_mobile" /></td>
		<td>{vacancy.contactMobile}</td>
	</tr>
	<tr>
		<td><f:translate key="tx_interamtconnect_domain_model_vacancy.contact_fax" /></td>
		<td>{vacancy.contactFax}</td>
	</tr>
	<tr>
		<td><f:translate key="tx_interamtconnect_domain_model_vacancy.contact_email" /></td>
		<td>{vacancy.contactEmail}</td>
	</tr>
</table>
</html>
